In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import seaborn as sns
sys.path.append('/home/mike/dsi/case_studies/supervised-learning-case-study/src/')
from clean import clean
from sklearn.linear_model import LogisticRegression

In [40]:
df_raw = clean(pd.read_csv('../data/churn.csv'))

In [44]:
df_raw.active_user.sum()/50000

0.37608

In [25]:
df_test = clean(df_test_raw)

In [26]:
df_test

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,active_user,months_as_user
0,2.48,5.0,5.000000,1.00,Winterfell,2014-01-07,Android,2014-01-06,0.0,2,True,100.0,False,0
1,10.81,5.0,5.000000,1.00,Winterfell,2014-04-29,iPhone,2014-01-06,0.0,3,True,100.0,False,3
2,12.95,5.0,5.000000,1.00,Astapor,2014-01-29,Android,2014-01-19,0.0,1,True,100.0,False,0
3,3.92,5.0,4.601011,1.00,Winterfell,2014-02-16,iPhone,2014-01-09,0.0,0,False,0.0,False,1
4,1.46,5.0,4.500000,1.00,Astapor,2014-01-09,iPhone,2014-01-07,0.0,2,False,100.0,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.11,5.0,5.000000,1.00,King's Landing,2014-02-01,iPhone,2014-01-31,0.0,1,False,100.0,False,1
9996,5.49,4.9,4.100000,1.00,Winterfell,2014-05-27,iPhone,2014-01-30,0.0,0,True,33.3,False,4
9997,2.49,4.2,4.600000,1.25,Winterfell,2014-05-24,Android,2014-01-15,18.8,9,True,90.6,False,4
9998,1.05,4.0,5.000000,1.00,Astapor,2014-01-23,Android,2014-01-22,0.0,1,False,100.0,False,0
9999,6.31,5.0,5.000000,1.00,Astapor,2014-04-27,iPhone,2014-01-25,0.0,0,True,0.0,False,3

In [29]:
df_test.describe()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,surge_pct,trips_in_first_30_days,weekday_pct,months_as_user
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5.818925,4.781056,4.601011,1.073996,8.81831,2.268200,61.132890,3.051700
std,5.704789,0.440010,0.575169,0.221982,19.73744,3.717506,37.050156,1.984193
min,0.000000,1.000000,1.000000,1.000000,0.00000,0.000000,0.000000,0.000000
25%,2.420000,4.700000,4.500000,1.000000,0.00000,0.000000,33.300000,1.000000
50%,3.890000,5.000000,4.800000,1.000000,0.00000,1.000000,66.700000,4.000000
75%,6.990000,5.000000,5.000000,1.050000,9.10000,3.000000,100.000000,5.000000
max,79.340000,5.000000,5.000000,5.000000,100.00000,71.000000,100.000000,6.000000

In [ ]:
df_test

In [34]:
df_test.avg_rating_by_driver[df_test.avg_rating_by_driver.isna()]

Series([], Name: avg_rating_by_driver, dtype: float64)

In [27]:
df_test.corr()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,active_user,months_as_user
avg_dist,1.000000,0.073313,0.020912,-0.089511,-0.112794,-0.140867,0.058173,0.118484,-0.090429,-0.103423
avg_rating_by_driver,0.073313,1.000000,0.117227,0.021599,0.025142,-0.038382,0.005394,0.015828,-0.024065,-0.027483
avg_rating_of_driver,0.020912,0.117227,1.000000,0.002634,0.018493,-0.001585,-0.015687,0.017344,-0.006317,-0.012300
avg_surge,-0.089511,0.021599,0.002634,1.000000,0.792574,-0.001901,-0.091744,-0.098081,-0.004074,-0.015905
surge_pct,-0.112794,0.025142,0.018493,0.792574,1.000000,0.009766,-0.120336,-0.132534,0.012797,0.008416
trips_in_first_30_days,-0.140867,-0.038382,-0.001585,-0.001901,0.009766,1.000000,0.101918,0.053117,0.209651,0.155329
luxury_car_user,0.058173,0.005394,-0.015687,-0.091744,-0.120336,0.101918,1.000000,0.046015,0.197413,0.148750
weekday_pct,0.118484,0.015828,0.017344,-0.098081,-0.132534,0.053117,0.046015,1.000000,0.014920,0.022718
active_user,-0.090429,-0.024065,-0.006317,-0.004074,0.012797,0.209651,0.197413,0.014920,1.000000,0.775739
months_as_user,-0.103423,-0.027483,-0.012300,-0.015905,0.008416,0.155329,0.148750,0.022718,0.775739,1.000000

In [31]:
df_test.dtypes

avg_dist                         float64
avg_rating_by_driver             float64
avg_rating_of_driver             float64
avg_surge                        float64
city                              object
last_trip_date            datetime64[ns]
phone                             object
signup_date               datetime64[ns]
surge_pct                        float64
trips_in_first_30_days             int64
luxury_car_user                     bool
weekday_pct                      float64
active_user                         bool
months_as_user                     int64
dtype: object